[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git@github.com:ervandew/supertab.git
[submodule "vim/bundle/AutoComplPop"]
	path = vim/bundle/AutoComplPop
	url = git@github.com:vim-scripts/AutoComplPop.git
[submodule "vim/bundle/rainbow_parentheses.vim"]
	path = vim/bundle/rainbow_parentheses.vim
	url = git@github.com:kien/rainbow_parentheses.vim.git
